/* colors
#2f3e46
#354f52
#52796f
#84a98c
#cad2c5

*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background-color: #2f3e46;
    padding: 10px;
}

.main-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.left-container,
.right-container,
.center-container {
    height: 100vh;
    background-color: #354f52;
    border-radius: 10px;
    border: none;
}

.left-container,
.right-container {
    width: 20%;
    min-width: 400px;
    padding: 10px;
}

.center-container {
    flex: 1;
    margin: 0 10px;
}

/* center */
.center-top {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

/* .center-top li {
    list-style: none;
    width: 50px;
    height: 50px;
    background-color: #52796f;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    font-size: 10px;
} */

.center-top-underline {
    /* width: 90%; */
    border: 2px solid #52796f;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
}

.logo {
    text-align: center;
}

/* Left */
.logo-1 {
    color: #ffff;
}

.logo-2 {
    color: #84a98c;
}

/* Search */
.searchSubmit {
    background-color: #2f3e46;
    width: 65px;
    height: 45px;
    border: none;
    /* border-radius: 25px; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    color: #ffff;
    font-weight: 500;
    font-size: 15px;
}

.searchSubmit:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.searchContainer {
    display: flex;
    width: calc(25% - 20px);
    border-radius: 10px;
    /* padding: 50px; */
    box-sizing: border-box;
    text-align: center;
    /* border: 1px solid grey; */
    background-color: #2f3e46;
    margin: 10px;
    color: #ffff;
    transition: background-color 0.5s, transform 0.5s;
}
.searchContainer:hover{
    transform: scale(1.01);
    background-color: #33434c;
    cursor: pointer;

}
.search-response-img img{
    width: 90%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
}

.search {
    width: 250px;
    height: 25px;
    border: none;
    /* border-radius: 25px; */
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px;
    background-color: #52796f;
    color: #ffff;
    font-weight: 500;
    font-size: 15px;
}
.search-response{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.search-artist{
    padding: 10px;
    /* margin-bottom: auto; */
    align-self: flex-end;
}
.search-input{
    margin-left: 10px;
}
/* log in/out */
.logout {
    width: 60px;
    height: 50px;
    background-color: #2f3e46;
    color: #ffff;
    border: none;
    border-radius: 10px;
    transition: background-color 0.1s;
    margin-right: 50px;
}
.logout:hover{
    background-color: #52796f;
    color: #ffff;
    cursor: pointer;
    transform: scale(1.02);
}
.center-top-loggedin{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;

}
.card-container{
    display: flex;
    flex-direction: column;
}
/* Media queries */
@media screen and (max-width: 1340px) {
    .left-container {
        width: 10%;
        min-width: 100px;
    }
}