/* colors
#2f3e46
#354f52
#52796f
#84a98c
#cad2c5

*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}
body {
    background-color: #2f3e46;
    padding: 10px;
}

.main-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.left-container,
.right-container,
.center-container {
    height: 100vh;
    background-color: #354f52;
    border-radius: 10px;
    border: none;
}

.left-container,
.right-container {
    width: 20%;
    min-width: 400px;
    padding: 10px;
}

.center-container {
    flex: 1; 
    margin: 0 10px; 
}

/* center */
.center-top{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.center-top li{
    list-style: none;
    width: 50px;
    height: 50px;
    background-color: #52796f;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    font-size: 10px;
}
.search{
    width: 250px;
    height: 25px;
    border: none;
    border-radius: 25px;
    padding: 10px;
    background-color: #52796f;
    color: #ffff;
    font-weight: 500;
    font-size: 15px;
}
.center-top-underline{
    /* width: 90%; */
    border: 2px solid #52796f;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
}

.logo{
    text-align: center;
}
/* Left */
.logo-1{
    color: #ffff;
}
.logo-2{
    color: #84a98c;
}

/* Media queries */
@media screen and (max-width: 1340px) {
    .left-container{
        width: 10%;
        min-width: 100px;
    }
  }