@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');

*{
  font-family: 'Nunito Sans', sans-serif;;
}
.playlist-card{
    display: flex;
    font-size: 10px;
    color: #ffff;
    height: auto;
    width: 95%;
    padding: 10px;
    border-radius: 10px;
}
.playlist-card:hover{
    background-color: rgba(181, 180, 180, 0.026);
    cursor: pointer;
}
.playlist-cover{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}